/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 1px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 10px;
}

.logo img {
    max-width: 155px;
    height:120px;
}



nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

nav ul li {
    margin: 0 0.5em;
}

.nav-btn {
    background-color: #444;
    color: white;
    text-decoration: none;
    padding: 0.7em 1.5em;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 5px;
    display: inline-block;
}

.nav-btn:hover {
    background-color: #555;
    border: 2px solid #fff;
    color: #ffcc00;
    transform: scale(1.1);
}
.btn-av {
    display: block;
    margin: 10px;
    margin-left: 110px;
    padding: 10px 20px;
    background-color: #403c3c;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    text-align: center;
    width: 50px;
}

.btn-av:hover {
    background-color: #0a9660;
}


main {
    padding: 2em 1em;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1em;
}

section {
    margin-bottom: 2em;
}


.add-product-container {
    background-color: white;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-product-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-product-container form {
    display: flex;
    flex-direction: column;
}

.add-product-container form label {
    margin: 10px 0 5px;
}

.add-product-container form input,
.add-product-container form textarea,
.add-product-container form button {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-product-container form button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.add-product-container form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
