/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}



.title-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 1px;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

nav ul li {
    margin: 0 0.5em;
}

.nav-btn {
    background-color: #444;
    color: white;
    text-decoration: none;
    padding: 0.7em 1.5em;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 5px;
    display: inline-block;
}

.nav-btn:hover {
    background-color: #555;
    border: 2px solid #fff;
    color: #ffcc00;
    transform: scale(1.1);
}

main {
    padding: 2em 1em;
    max-width: 900px;
    margin: 2em auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 0.5em;
    font-size: 2em;
    font-weight: bold;
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: bold;
}

section {
    margin-bottom: 2em;
}